body {
    padding: 20px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: #fff;
}

button:hover {
    background-color: #333;
}

a{
    margin-right: 10px;
}

